Code Alongs/WebServices/ClientConsoleApp/Connected Services/StudentsService/StudentsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58239/StudentsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58239/StudentsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58239/StudentsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EFDataAccessLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentsService_GetAllStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudents" />
  </wsdl:message>
  <wsdl:message name="IStudentsService_GetAllStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentsService_GetStudentsByCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsByCountry" />
  </wsdl:message>
  <wsdl:message name="IStudentsService_GetStudentsByCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentsService_GetStudentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentById" />
  </wsdl:message>
  <wsdl:message name="IStudentsService_GetStudentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentsService">
    <wsdl:operation name="GetAllStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentsService/GetAllStudents" message="tns:IStudentsService_GetAllStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentsService/GetAllStudentsResponse" message="tns:IStudentsService_GetAllStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentsByCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentsService/GetStudentsByCountry" message="tns:IStudentsService_GetStudentsByCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentsService/GetStudentsByCountryResponse" message="tns:IStudentsService_GetStudentsByCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentsService/GetStudentById" message="tns:IStudentsService_GetStudentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentsService/GetStudentByIdResponse" message="tns:IStudentsService_GetStudentById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentsService" type="tns:IStudentsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllStudents">
      <soap:operation soapAction="http://tempuri.org/IStudentsService/GetAllStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentsByCountry">
      <soap:operation soapAction="http://tempuri.org/IStudentsService/GetStudentsByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentById">
      <soap:operation soapAction="http://tempuri.org/IStudentsService/GetStudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentsService">
    <wsdl:port name="BasicHttpBinding_IStudentsService" binding="tns:BasicHttpBinding_IStudentsService">
      <soap:address location="http://localhost:58239/StudentsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>